<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- 页面关键词 keywords -->
  <meta name="keywords" content="keywords">
 <!-- 页面描述内容 description -->
  <meta name="description" content="description">
 <!-- 定义网页作者 author -->
  <meta name="author" content="author,email address">
  <!--定义网页搜索引擎索引方式，none，noindex，nofollow，all，index和follow。-->
  <meta name="robots" content="index,follow">

  <meta name="description" content="complete attributes of css3">

  <!-- Add to homescreen for Safari on Ios -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="css3">
  <link rel="apple-touch-icon" href="src">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="css3">
  <meta name="theme-color" content="#2F3BA2">
  <link rel="icon" sizes="192x192" href="src">
  <!-- 添加 favicon icon -->
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
  <!-- 静止缩放-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Title</title>
</head>
<body>
<!--
    <div id="app">
        <p v-text="message"></p>
        <p v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！</p>
        <div v-html="html"></div>
        <div v-show="show">123</div>

        <hr>
        <div v-if="type === 'A'">
            A
        </div>
        <div v-else-if="type === 'B'">
            B
        </div>
        <div v-else>
            Not A/B/C
        </div>

        <hr>
        <ul>
            <li v-for="(val,key) in  item" v-bind:key="key">{{key}}:{{val}}</li>
        </ul>
        <ul>
            <li v-for="(val,key,index) in list" :key="index">{{index}}.{{key}}:{{val}}</li>
        </ul>

        <br>
        <div v-on:mouseover="active" >鼠标经过弹出</div>
        <hr>

        <ul>
            <li v-text="display" v-bind:class="display ? 'on':'off'"></li>
            <li v-text="display" v-bind:src="display + '-001'"></li>
            <li v-text="isRed" v-bind:class="{red:isRed}"></li>
            <li  v-bind:class="[classA, classB]">classaclassb</li>
            <li v-text="isRed" v-bind:class="[classA, { classB: isB, classC: isC }]"></li>

            <div :style="{ fontSize: size + 'px' }"></div>
            <div :style="{color:isRed}">123</div>

            <div v-bind="{id:styleObjectA,class:styleObjectB}">asdfasdf</div>

        </ul>

        <hr>
        <input type="text" v-model="model">
        <div v-text="model"></div>

        <hr>
        <div v-pre="">{{nishida}}</div>

        <hr>
        <div v-cloak>{{ aa }}</div>
        <br>

        <div v-once v-text="aa"></div>
        <div v-text="aa"></div>

        <hr />
    </div>-->
    <div id="todo-list-example">
        <input v-model="newTodoText" v-on:keyup.enter="addNewTodo"  placeholder="Add a todo"  >
        <ul>
            <li is="todo-item"  v-for="(todo, index) in todos"  v-bind:title="todo"    v-on:removes="todos.splice(index, 1)"  ></li>
        </ul>
    </div>
</body>
</html>
<script src="vue.min.js"></script>
<script>

    Vue.component('todo-item', {
        template: '\ <li>\  {{ title }}\ <button v-on:click="$emit(\'removes\')">X</button>\ </li>\  ',
        props: ['title']
    });
    new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos: [
                'Do the dishes',
                'Take out the trash',
                'Mow the lawn'
            ]
        },
        methods: {
            addNewTodo: function () {
                this.todos.push(this.newTodoText)
                this.newTodoText = ''
            }
        }
    });



 /*   let i=0;
    var app = new Vue({
        el: '#app',
        data: {
            size:20,
            styleObjectA:'A',
            styleObjectB:'B',
            type:'d',
            message: 'Hello Vue!',
            html:"<p>html</p>",
            show:true,
            num:'v-if num',
            item:['A','B','C','D','E','F','G'],
            list:{a:'1',b:'2',c:'3'},
            active:function () {
                console.log(++i);
            },
            display:'display',
            isRed:'blue',
            classA:'classA',
            classB:'classB',
            isB:'isB',
            isC:'isC',
            model:'',
            aa:'cloack',
        },

    })*/
</script>